# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db
